+b.program-day-event.program-day__event
  +e.right 11:00
    sup МСК
  +e.left
    +e.details
      +e.top Больше возможностей на Мальдивах с Reollo Travel Maldives. Открытие de luxe-отеля The Nautilus Maldives
      +e.bottom
        include ./program-day-event-partners.pug
        +e.more-btn.more-btn(href="#") Подробнее
    +e.slider
      include ./program-day-event-slider.pug
    +e.book
      +e.BUTTON.btn.btn-reset.book-btn.js-book-btn(data-success-txt="Вы записаны") Записаться
      +e.participants 615 участников
        |
        |
        span уже записались
