+b.program-day-event-partners.program-day-event__partners
  +e.UL.list.list-reset
    +e.LI.item
      +e.link(href="#")
        img(src="img/content/program-partner-logo-1.png")
    +e.LI.item
      +e.link(href="#")
        img(src="img/content/program-partner-logo-2.png")
    +e.LI.item
      +e.link(href="#")
        img(src="img/content/program-partner-logo-3.png")
