extends ../base/html.pug

block body
  body
    div(style="display: none;")
      include ../../img/icon/sprite_auto.svg

    header
    main
      include ../blocks/program.pug
    footer
    include ../base/scripts.pug
